<%-include("../layout/adminHeader.ejs")%>



<div class="mainBody">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-6  ">
<!-- Add Carousel block -->
    <div class="shadow-div container rounded text-center">
        <p>
        
            <button class="btn btn-primary m-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Add Carousel
            </button>
          </p>
          <div class="collapse container" id="collapseExample">
            <form class="form-floating" action="/admin/add-carousel" method="post" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" name= "title" placeholder="Enter title">
                <label for="title">Title</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="subtitle" name= "subtitle" placeholder="Enter sub title">
                <label for="subtitle">Sub title</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="buttonText" name= "buttonText" placeholder="Enter button text">
                <label for="buttonText">Button Text</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="buttonLink" name= "buttonLink" placeholder="Enter Button link">
                <label for="buttonLink">Button link</label>
              </div>

              
              <div class="form-floating">
                <input type="file" class="form-control" id="file" name= "image" placeholder="Choose Image">
                <label for="file">Slider image</label>
              </div>
              <input type="submit"  class="btn btn-success m-4" value="Add">


            </form>
          </div>
    </div>   
</div>
</div>
</div>
    <div class="carousel-cards d-flex flex-wrap ">

    
    <!-- List Carousel  -->
    <%  carouselData.map(item=>{ %>

    
    <div class="card category-cards rounded" style="width: 20rem;">

      <img
        src="<%=item.imageUrl%>"
        class="card-img-top"
        alt="carousel image"
        width="200px"
        height="200px"
      />
       
        <div class="card-body">
          <!-- <h5 class="card-title"><%=item.title%></h5> -->
          <table class="table table-hover">
            <tr>
              <th>
                Title
              </th>
            
              <td>
                <%=item.title%>
              </td>
            </tr>
            <tr>
              <th>
                Sub-Title
              </th>
            
              <td>
                <%=item.subtitle%>
              </td>
            </tr>
            <tr>
              <th>
                Button Text
              </th>
            
              <td>
                <%=item.buttonText%>
              </td>
            </tr>
            <tr>
              <th>
                Button Link
              </th>
            
              <td>
                <%=item.buttonLink%>
              </td>
            </tr>
          </table>
          <div class="button-block d-flex justify-content-between">
            <a href="/admin/edit-carousel?_id=<%=item._id%>" class="btn btn-warning">Edit</a>
            <a href="/admin/delete-carousel?_id=<%=item._id%>" class="btn btn-danger">Delete</a>
          </div>

        </div>
      </div>

      <% })%>

    </div>
    



<%-include("../layout/adminFooter.ejs")%>