<%-include("../layout/adminHeader.ejs")%>



<div class="mainBody">
    <div class="col-sm-12 col-md-6 col-lg-6 mx-auto text-center">

      <%if(typeof errorMessage!= 'undefined'){%>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error:</strong> <%=errorMessage%>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
  
      <%}%>

    <div class="add-coupon container shadow-div">
        <p>
            <button
              class="btn btn-primary my-4 mx-auto "
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
            Create Coupon
            </button>
          </p>
          <div class="collapse container" id="collapseExample">
            <form class="form-floating" method="post"  >
          
                <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  name="code"
                  placeholder="Coupon Code"
                  required
                />
                <label for="floatingInput">Coupon Code</label>
              </div>
              
              <div class="form-floating mb-3">
                <input
                  type="date"
                  class="form-control"
                  id="floatingInput"
                  name="expiryDate"
                  placeholder="Coupon Expiry"
                  required
                />
                <label for="floatingInput">Expiry </label>
              </div>
             
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  name="percentage"
                  placeholder="Discount Percentage"
                  required
                />
                <label for="floatingInput">Discount Percentage</label>
              </div>
              
              <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  name="minPurchase"
                  placeholder="Minimum purchase"
                  required
                />
                <label for="floatingInput">Minimum purchase </label>
              </div>
               
              <div class="form-floating mb-3">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  name="maxDiscount"
                  placeholder="Maximum discount"
                  required
                />
                <label for="floatingInput">Maximum discount  </label>
              </div>
               
           
              <input
                  type="submit"
                  class="btn btn-primary m-4 mx-auto"
                  value="Create "
                />
                <a class="btn btn-danger mx-4" href="/admin/coupons">Cancel</a>
                 </div>
               </form>
              </div>
           
           
           
           
            </div>


            <div class="table-responsive my-4">
              <table class="table table-hover">
                <tr class="heading-row">
                  <th>Sl No.</th>
                  <th>Coupon Code</th>
                  <th>Expiry</th>
                  <th>Discount Percentage</th>
                  <th>Minimum purchase</th>
                  <th>Maximum discount</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
          
                <tr>
                  
                  <% if(typeof couponData == 'undefined'){ %>
                    <h5 class="text-center text-white">No coupons found</h5>
                     <%}else{%>
          
                     <% for(let i=0;i<couponData.length;i++){%> 
                  <td><%=i+1%></td>
                  <td> <strong><%=couponData[i].code%> </strong></td>
                  <td><%=couponData[i].expiryDate.toLocaleString('en-IN',{dateStyle:'long',timeStyle:'short'})%></td>
                  <td><%=couponData[i].percentage%></td>
                  <td><%=couponData[i].minPurchase%></td>
                  <td><%=couponData[i].maxDiscount%></td>
          
                <td>
                  <%if(!couponData[i].isActive){ %>
                    <div class="form-check form-switch" onclick="confirmBlockUnblock('<%=couponData[i]._id%>','unblock')" style="width: 50px;">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault">Blocked</label>
                    </div>
                    
                      <% }else{%>
                        <div class="form-check form-switch" onclick="confirmBlockUnblock('<%=couponData[i]._id%>','block')" style="width: 50px;">
                          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                          <label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
                        </div>
                        <%}%>
              </td>

              <td>
              <button class="btn btn-danger mx-3" onclick="deleteCoupon('<%=couponData[i].id%>')">Delete</button>
              </td>


          
          
                </tr>
              <%}}%>
              </table>
            </div>
    </div>




<script>
    const  confirmBlockUnblock=(id,todo)=> {

      new swal({
      title: "Are you sure to "+ todo+" the coupon?",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        fetch("/admin/coupon-actions", {
          method: "POST",
          headers: {
              "Content-Type": "application/json"
          },
          body: JSON.stringify({
              id
          })
      })
          .then(response => {
          })
          .then(data => {
              location.reload()
          })
          .catch(error => {
              console.log(error);
          });
    
        
      } else {
        location.reload()
      }
    });
    }





    const deleteCoupon=(id)=>{
      new swal({
  title: "Are you sure to remove this coupon?",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    window.location.href = `/admin/delete-coupon?id=${id}`;    }});
  } 

  </script>






<%-include("../layout/adminFooter.ejs")%>