<%-include("../layout/adminHeader.ejs")%>

<div class="container-fluid">
  <h2>Welcome Admin....</h2>
  
  </div>

  <div class="card-row row m-4 d-flex justify-content-around">

    
    <!-- -----------------Start Card------------------ -->
    <div class="card bg-primary dashboard-card" style="width: 18rem;"> 
      <h2 class="card-title my-4 text-white text-center">Orders Placed today</h2>
      <div class="card-body ">
       
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <h1 class=" mb-2  text-white text-center"><%=orderToday%> Orders</h1>
       
      </div>
    </div>
    <!-- -----------------End Card------------------ -->

    <!-- -----------------Start Card------------------ -->
     <div class="card bg-danger dashboard-card" style="width: 18rem;"> 
        <h2 class="card-title my-4 text-white text-center">Return Requests</h2>
      <div class="card-body ">
        
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <a href="/admin/return-requests">
        <h1 class=" mb-2  text-white text-center"><%=PendingCount%> Orders</h1>
      </a>
      </div>
    </div>
    <!-- -----------------End Card------------------ -->
    
    <!-- -----------------Start Card------------------ -->
    <div class="card bg-warning dashboard-card" style="width: 18rem;"> 
        <h2 class="card-title my-4 text-white text-center">Sales today</h2>
    
      <div class="card-body ">
       
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <h1 class=" mb-2  text-white text-center">₹<%=salesToday%></h1>
       
      </div>
    </div>
    <!-- -----------------End Card------------------ -->
    <!-- -----------------Start Card------------------ -->
    <div class="card bg-success dashboard-card" style="width: 18rem;"> 
      <h2 class="card-title my-4 text-white text-center">Total Revenue</h2>
      <div class="card-body ">
       
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <h1 class=" mb-2  text-white text-center">₹<%=totalRevenue%></h1>
       
      </div>
    </div>
    <!-- -----------------End Card------------------ -->

     




  </div>
  <!-- </div> -->
 


  <!-- ----------------------------------Start Charts----------------------->
  <div class="row d-flex w-100">
<!-- -----------Start Single Chart--------------- -->
<div class="col m-4 chart-card">
  <!-- <div style="width: 400px;height: 400px;"> -->
    <h4 class="text-center my-3 p-4">Daily Sales</h4>
    <canvas id="dailySalesContainer"></canvas>
  </div>

<!-- -----------End Single Chart--------------- -->


<!-- -----------Start Single Chart--------------- -->
<div class="col m-4 chart-card">
  <!-- <div style="width: 400px;height: 400px;"> -->
    <h4 class="text-center my-3 p-4">Daily Orders</h4>
    <canvas id="dailyOrderContainer"></canvas>
  </div>
  
  <!-- -----------End Single Chart--------------- -->
  
  <!-- -----------Start Single Chart--------------- -->
  <div class="col-md-3 m-4 p-4 chart-card">
    <!-- <div style="width: 400px;height: 400px;"> -->
      <h4 class="text-center my-3">Payment Modes</h4>
      <canvas id="paymentModeContainer"></canvas>
    </div>
  
  <!-- -----------End Single Chart--------------- -->
</div>
  

  <!-- ----------------------------------End Charts---------------------- -->



  <script>

    // ------------------Start Chart Script----------------------
    const paymentModeFun= async ()=>{
      const pmc = document.getElementById('paymentModeContainer');

      fetch("/admin/get-paymentmodes",{method:"get"})
      .then(response=>response.json())
      .then(data=>{
        // console.log(data)

        new Chart(pmc, {
        type: 'pie',
      data: {
        labels:  Object.keys(data),
        datasets: [{
          label: 'Number of orders',
          data: Object.values(data),
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: false
          }
        }
      }
    });
      })
    }
  
// --------------------------------------------//

    const dailySalesChart= async()=>{

  const dsc = document.getElementById('dailySalesContainer');

fetch("/admin/daily-sales-chart",{method:"get"})
.then(response=>response.json())
.then(data=>{
  // console.log(data);
  const labels= []
  const chartData= []
data.map(item=>{
  labels.push(item._id)
  chartData.push(item.totalPrice)
})
// console.log(labels);
// console.log(chartData);
  
  

  new Chart(dsc, {
  type: 'bar',
  data: {
    labels: labels,
    datasets: [{
      label: 'Total Sales per day Rs',
      data:chartData,
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

})
    }


const dailyOrderChart= async ()=>{

  const dsc = document.getElementById('dailyOrderContainer');

fetch("/admin/daily-order-chart",{method:"get"})
.then(response=>response.json())
.then(data=>{
  // console.log(data);
  const labels= []
  const chartData= []
data.map(item=>{
  labels.push(item._id)
  chartData.push(item.count)
})
// console.log(labels);
// console.log(chartData);
  
  

  new Chart(dsc, {
  type: 'line',
  data: {
    labels: labels,
    datasets: [{
      label: 'Total order per day',
      data:chartData,
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

})
    }


paymentModeFun();
dailySalesChart();
dailyOrderChart();
    
    
    
   
    
</script>
    
    
<%-include("../layout/adminFooter.ejs")%>
