<%-include("../layout/adminHeader.ejs")%>



<div class="mainBody">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-6  ">
      <div class="shadow-div container rounded ">
          
        <h4 class="my-4 text-center">Order details</h4>

        <div class="table-responsive table table-striped align-left table-hover">
            <div class="table-responsive table table-striped align-left table-hover">
                <table class="table">
                  
                  <tr><th>
                      Invoice Number
                  </th>
                 <td><%=orderData.invoiceNumber%></td>
              </tr>
    
                 <tr>
                    <th>
                      Recipient
                    </th>
                    <td>
                      <%=orderData.address.name%>
                    </td>
                 </tr>
                 <tr>
                    <th>
                        Address
                    </th>
                     
                      <td><%=orderData.address.address%> <br>  
                          <%=orderData.address.city%> <%=orderData.address.state%>  <%=orderData.address.pincode%> <br> <%=orderData.address.landmark%>
                       </td>
                 </tr>
                 <tr>
                    <th>
                        Mobile Number
                    </th>
                    <td>
                      <%=orderData.address.mobile%>
                    </td>
                 </tr>
  
               <tr>
                  <th>
                      Total Amount
                  </th>
                  <td>
                      <%=orderData.totalAmount%>
                  </td>
               </tr>
  
                 <tr>
                    <th>
                        Payment method
                    </th>
                    <td>
                        <%=orderData.paymentMethod%>
                    </td>
                 </tr>
                 <tr>
                    <th>
                        Ordered Date
                    </th>
                    <td>
                        <%=orderData.date.toLocaleString('en-IN',{ dateStyle: 'long'})%>
                    </td>
                 </tr>
                 <tr>
                    <th>
                        Expected Delivery Date
                    </th>
                    <td>
                        <%=new Date(orderData.date.getTime()+(7*24*60*60*1000)).toLocaleString('en-IN',{ dateStyle: 'long'})%>
                    </td>
                 </tr>
                 <tr>
                    <th>
                       Delivery notes
                    </th>
                    <td>
                        <%=orderData.notes%>
                    </td>
                 </tr>
                 <tr>
                    <th>
                        Status
                    </th>
    
                    <td>
                    
                      <%=orderData.status%>
    
                    </td>
                 </tr>
  
  
                 <tr>
                  <th> </th>
                  <th >
                          Products  
                            </th>
  <table class="table table-bordered ">
                            <tr>
                                <th> <strong> Image </strong></th>
                              <th> <strong> Product Name </strong></th>
                              <th> <strong>  Price </strong></th>
                              <th> <strong> Quantity </strong></th>
                              <th> <strong> Total Price </strong></th>
                            </tr>
  
                            <tr>
                         <%   orderData.product.map((item)=>{%>
                           
  
                            <td style="text-align: center;">
                                <div class="image-container" style="width: 80px;height: 50px;">
                                    <img src="<%=item.image%>" width="60px" height="45px" alt="">
                                </div>
                                   
                                </td>

                  <td>
                      <%=item.name%>
                  </td>
                  <td>
                      <%=item.price%>
                  </td>
                  <td>
                      <%=item.quantity%>
                  </td>
                  <td>
                      <%=item.total%>
                  </td>
                  
              </tr>
        
             
             <% })%>
  
             <tr>
              <th> <strong>Sub Total </strong></th>
              <td></td>
              <td></td>
              <td></td>
              <th>  <%=orderData.subTotal%></th>
             </tr>
  
  
             <tr>
              <th><strong>Coupon Applied </strong></th>
              <td></td>
              <td></td>
              <td></td>
              <th>    <%=orderData.coupon%> </th>
             </tr>
  
  
  
             <tr>
              <th><strong> Discount </strong></th>
              <td></td>
              <td></td>
              <td></td>
              <th>  <%=orderData.discount%> </th>
             </tr>
  
  
  
             <tr>
              <th><strong>Total Amount </strong></th>
              <td></td>
              <td></td>
              <td></td>
              <th>  <%=orderData.totalAmount%></th>
             </tr>
  
    </table>
             <tr>
                <th >
                    
                   <strong > Update status</strong> 
                </th>
                <td>
                <form class="form-floating " method="post">
                    <select class="form-select" name="status" required>
                      <%statusData.map((item)=>{%>
      
                      <option value=<%=item%>>  <%=item%></option> 
                      <% })%>
                    </select>
      
                    <label for="floatingSelect"></label>

                    <input type="text" name="_id" value=  <%=orderData._id%> hidden>


                    <div class="buttons-row text-center my-4">
                       
                        <input type="submit" class="btn btn-outline-success mx-3 mx-auto"  value="Save "/>

                        <a href="/admin/orders"class="btn btn-outline-danger mx-3">Cancel</a>
                    </div>
                </form>


                </td>
             </tr>
  
  
          </table>
        
             
  
              <!-- <a href="/download-invoice?_id=<%=orderData._id%> " class="btn btn-secondary my-3 mx-4"><i class="bi bi-download" style="font-size: 2rem;"></i>  Download Invoice</a> -->
      </div>
  </div>
          </div>
          


          
      
  
      
  </div>
  </div>
  </div>
  </div>




<%-include("../layout/adminFooter.ejs")%>