<%-include("../layout/adminHeader.ejs")%>



<div class="mainBody">


    <nav class="navbar bg-light mx-auto bg-primary">
        <div class="container-fluid justify-content-around">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <a class="btn btn-primary" href="/admin/addproduct">Add Products</a>
        </div>
      </nav>
    
      <div class="table-responsive my-4">
        <table class="table table-hover">
          <tr class="heading-row">
            <th>Sl No:</th>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description </th>
            <th>Price</th>
            <th>Stock</th>
            <th>Brand</th>
            <th>Action</th>
            <!-- <th>View</th> -->
          </tr>
    

          <% if(typeof productData ==undefined){ %>
            <h5 class="text-center text-white">No results found</h5>
             <%}else{%>
  
             <% for(let i=0;i<productData.length;i++){%>
          <td><%=i+1%></td>
          
          <td><%=productData[i].name%></td>
          <td><%=productData[i].category%></td>
          <td><%=productData[i].description%></td>
          <td><%=productData[i].price%></td>
          <td><%=productData[i].stock%></td>
          <td><%=productData[i].brand%></td>
          
          <td>
           
            <td>
                <a href="/admin/editproduct?=<%=productData._id%>"><i class="bi bi-pencil-square mx-2" style="font-size: 1.2rem; "></i></i></a>
                <a href="#"><i class="bi bi-trash3-fill mx-2" style="font-size: 1.2rem;"></i></a>

             </td>
            
          </tr>
          <%}}%>
        </table>
      </div>













    
</div>




<%-include("../layout/adminFooter.ejs")%>