<%-include("../layout/adminHeader.ejs")%>


<div class="mainBody">
    <nav class="navbar bg-light mx-auto bg-primary">
  
  
  
      <div class="container-fluid justify-content-center">
        <!-- <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            name="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
  
    <div class="table-responsive my-4">
      <table class="table table-hover">
        <tr class="heading-row">
          <th>Sl No.</th>
          <!-- <th>Order Id</th> -->
          <th>Invoice #</th>
          <th>Date</th>
          <th>Name</th>
          <th>Product</th>
          <th>Amount</th>
          <th>Cancellation Reason</th>
          <th>Action</th>

          <!-- <th>View</th> -->
        </tr>
  
        <tr>
          
          <% if(orderData==""){ %>
            <h5 class="text-center text-white">No results found</h5>
             <%}else{%>
  
             <% for(let i=0;i<orderData.length;i++){%>
          <td><%=i+1%></td>
          <td><%=orderData[i].invoiceNumber%></td>
          <td><%=orderData[i].date.toLocaleString('en-IN',{dateStyle:'long'})%></td>
          <td><%=orderData[i].address.name%></td>
          
          <td><%=orderData[i].product[0].name%> + <%=orderData[i].product.length%> items </td>
          <td>Rs.<%=orderData[i].product[0].total%> </td>
          <td><%=orderData[i].returnReason%> </td>
          
          <td> <a href="/admin/accept-return?_id=<%=orderData[i]._id%>"  class="btn btn-success mx-3">Accept</a>
           <a href="/admin/reject-return?_id=<%=orderData[i]._id%>"  class="btn btn-danger">Reject</a></td>
  
        </tr>
      <%}}%>
      </table>
    </div>
  </div>





<%-include("../layout/adminFooter.ejs")%>