<%-include("../layout/header.ejs")%> <%if(typeof userData != 'undefined'){%>
    <%-include("../layout/menuUser.ejs")%> <%}else{%>
    <%-include("../layout/menu.ejs")%> <%}%>


    <div class="page-content">


        <div class="cart">
            <div class="container">
                <div class="row">

                    <%if(!userData.cart.length>0){%>
                        <div class="no-cart-items text-center  w-100">
                        <h5 class="m-4">Your cart is empty</h5>
                        <a href="/all-products" class="btn btn-primary  m-4"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>

                    </div>


                   <% }else{%>
                        <!-- =============================Cart item block================ -->

                    <div class="col-lg-9">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <!-- ------------------------Loop--------------------- -->
                                    <%userData.cart.map((item)=>{%>
                                    <td class="product-col">
                                        <div class="product">
                                            <figure class="product-media">
                                                <a href="#">
                                                    <img src="<%=item.product.imageUrl[0]%>" alt="Product image">
                                                </a>
                                            </figure>

                                            <h3 class="product-title">
                                                <a href="/product?_id=<%=item.product._id%>"><%=item.product.name%></a>
                                            </h3><!-- End .product-title -->    
                                        </div><!-- End .product -->
                                    </td>
                                    <td class="price-col"><%=item.product.price%></td>
                                    <td class="quantity-col">

                                    <div class="quantity-block d-flex">
                                        <a class="mx-2 quantity-btn"   onclick="handlequantity('<%=item.product._id%>','decrement')"> <h4 class="bi bi-dash-circle-fill"></h4></a>
                                            <h5 class="quantity-number mx-3" id="quantitynumber<%= item.product._id %>">
                                                <%= item.quantity%>  </h5>
                                            
                                            
                                            <a class="mx-2 quantity-btn" onclick="handlequantity('<%=item.product._id%>','increment')"><h4 class="bi bi-plus-circle-fill"></h4></a>

                                            </div>
                                        <div class="cart-produc3t-quantity">

                                              
                                        </div><!-- End .cart-product-quantity -->
                                    </td>
                                    <td class="total-col"><%=item.quantity*item.product.price%></td>
                                    <!-- <td> <a href="/remove-cart-item?_id=<%=item.product._id%>" class="btn-remove" ><i class="icon-close"></i></a> </td> -->
                                    <td> <a href="#" class="btn-remove" onclick="removeFromCart('<%=item.product._id%>','<%=item.product.name%>')"><i class="icon-close"></i></a> </td>
                                    <!-- <td class="remove-col"><button class="btn-remove"><i class="icon-close"></i></button></td> -->
                                  </tr>
                                 <%})%>
                                 <!-- --------------------------------Loop--------------------------- -->
                            
                                 </table><!-- End .table table-wishlist -->

                                  <div class="cart-bottom">
                                        <div class="cart-discount">
                                  <!-- <form action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" required placeholder="coupon code">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </form> -->
                            </div>

                            <!-- <a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a> -->
                        </div><!-- End .cart-bottom -->
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary summary-cart">
                            <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <tbody>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                      
                                        <td id="productSubtotal"><%=subTotal%></td>
                                    </tr>

                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td id="productTotal"><%=subTotal%></td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                            <a href="   /checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
                        </div><!-- End .summary -->

                    </aside>
                    
                    
                    <!-- =====================End cart item block================== -->
                    
                   <% }%>
                    
                    
                    <!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
</main>


<script>

const freeShippingRadio = document.getElementById('free-shipping');
const standardShippingRadio = document.getElementById('standart-shipping');
const expressShippingRadio = document.getElementById('express-shipping');
const subTotal= document.getElementById('subTotal').textContent;
const totalAmount = document.getElementById('totalAmount');

// Add event listener to each radio button
freeShippingRadio.addEventListener('change', handleShippingMethod);
standardShippingRadio.addEventListener('change', handleShippingMethod);
expressShippingRadio.addEventListener('change', handleShippingMethod);

// Event handler function
function handleShippingMethod() {
    
  if (freeShippingRadio.checked) {
    totalAmount.textContent = parseInt(subTotal);
    // Perform any necessary actions for free shipping
  } else if (standardShippingRadio.checked) {
    totalAmount.textContent = parseInt(subTotal)+100;
    // Perform any necessary actions for standard shipping
  } else if (expressShippingRadio.checked) {
    totalAmount.textContent = parseInt(subTotal)+300;
    // Perform any necessary actions for express shipping
  }
}


const proceedToCheckOut = () => {
  const shippingCharge = document.getElementById('totalAmount').textContent;
  fetch('/checkout?shippingCharge=' + shippingCharge, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
      'Authorization': 'Bearer token123'
    }
  })
    .then(response => {
      if (!response.ok) {
        throw new Error('Error: ' + response.status);
      }
      const contentType = response.headers.get('content-type');
      if (contentType && contentType.includes('application/json')) {
        return response.json();
      } else {
        throw new Error('Invalid response format: ' + contentType);
      }
    })
    .then(data => {
      console.log(data);
    })
    .catch(error => {
      console.error(error);
    });
}

async  function handlequantity(id,val){
    let quantityId=document.getElementById(`quantitynumber${id}`);


 
if(quantityId.innerText=='1' && val=='decrement'){
    new swal({

text: "Are you sure want to remove this item from cart?",
icon: "warning",
buttons: ["No", "Yes"],
dangerMode: true,
})
.then((response) => {
    if(response){
        updateQuantity(id,val);
    }
    else{
        console.log("false response")
    }
})
}
else{
    updateQuantity(id,val);
}

}


async function updateQuantity(id,val){
    let quantityId=document.getElementById(`quantitynumber${id}`);

await fetch('/quantity-update', {
method: 'POST',
headers: {
'Content-Type': 'application/json'
},
body: JSON.stringify(
{
prodId:id,
method:val,
}
)
})
.then(response => response.json())
.then((data)=>{
if(data=='success'){
window.location.reload()

}

else{
quantityId.innerHTML=data.quantity[0].quantity
document.getElementById("productSubtotal").innerHTML=data.subTotal
document.getElementById("productTotal").innerHTML=data.subTotal
totalamount.innerHTML=data.lastprice

}

})
.catch(error => console.log(error));
}



function removeFromCart(id,name){

    new swal({

text: `Are your sure want to remove ${name} from cart?`,
icon: "warning",
buttons: ["No", "Yes"],
dangerMode: true,
})
.then((response) => {
if (response) {
fetch(`/remove-cart-item?_id=${id}`,{method:"GET",headers:{'contentType':'application/json'}})
.then(response=>{
    console.log(response);
    if(response.ok){
        new swal({title: "Product removed from cart",
  icon: "success",
  button: "OK"}).then(()=>
        { window.location.href=`/cart` }
           
    )
    }
})
}
})
}







</script>


    <%-include("../layout/footer.ejs")%>


