<%-include("../layout/header.ejs")%> <%if(typeof userData != 'undefined'){%>
    <%-include("../layout/menuUser.ejs")%> <%}else{%>
    <%-include("../layout/menu.ejs")%> <%}%>



    <div class="page-content">
        <div class="container text-center my-4">
          
        
                <img src="/images/order-success.png"   class="img-fluid mx-auto"  width="100px" height="100px" alt="success-image">
        
            <h3 class=" text-primary text center"> Your order has been successfully placed</h3>
            <h4>Your order id is <%=orderData.invoiceNumber%></h4>
            <a href="/download-invoice?_id=<%=orderData._id%>">Download Invoice</a>
            <a href="/all-products" class="btn btn-primary  m-4"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>







        </div><!-- End .container -->
    </div><!-- End .page-content -->





    <%-include("../layout/footer.ejs")%>


