<%-include("../layout/header.ejs")%> <%if(typeof userData != 'undefined'){%>
    <%-include("../layout/menuUser.ejs")%> <%}else{%>
    <%-include("../layout/menu.ejs")%> <%}%>



    <div class="page-content">
        <div class="container text-center my-4">
          
        
                <img src="/images/order-failure.png"   class="img-fluid mx-auto"  width="100px" height="100px" alt="success-image">
        
            <h3 class=" text-danger text center"> Your order has been failed</h3>
           <%if(typeof errorMessage != 'undefined'){%>
            <h5 class="text-danger text center"> <%=errorMessage%></h5>
           <%}%>

            <a href="/all-products" class="btn btn-primary  m-4"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>







        </div><!-- End .container -->
    </div><!-- End .page-content -->





    <%-include("../layout/footer.ejs")%>


