<%-include("../layout/header.ejs")%> <%if(typeof userData != 'undefined'){%>
    <%-include("../layout/menuUser.ejs")%> <%}else{%>
    <%-include("../layout/menu.ejs")%> <%}%>

    
<!-- -----------------Orders list------------------------ -->

<div class="page-content container">



    <div class="row justify-content-center">
        <div class="shadow-div container rounded ">
            
          <h4 class="my-4 text-center">Order details</h4>
  
          <div class="table-responsive table table-striped align-left table-hover">
              <table class="table">
                
                <tr><th>
                    Invoice Number
                </th>
               <td><%=orderData.invoiceNumber%></td>
            </tr>
  
               <tr>
                  <th>
                    Recipient
                  </th>
                  <td>
                    <%=orderData.address.name%>
                  </td>
               </tr>
               <tr>
                  <th>
                      Address
                  </th>
                   
                    <td><%=orderData.address.address%> <br>  
                        <%=orderData.address.city%> <%=orderData.address.state%>  <%=orderData.address.pincode%> <br> <%=orderData.address.landmark%>
                     </td>
               </tr>
               <tr>
                  <th>
                      Mobile Number
                  </th>
                  <td>
                    <%=orderData.address.mobile%>
                  </td>
               </tr>

             <tr>
                <th>
                    Total Amount
                </th>
                <td>
                    <%=orderData.totalAmount%>
                </td>
             </tr>

               <tr>
                  <th>
                      Payment method
                  </th>
                  <td>
                      <%=orderData.paymentMethod%>
                  </td>
               </tr>
               <tr>
                  <th>
                      Ordered Date
                  </th>
                  <td>
                      <%=orderData.date.toLocaleString('en-IN',{ dateStyle: 'long'})%>
                  </td>
               </tr>
               <tr>
                  <th>
                      Expected Delivery Date
                  </th>
                  <td>
                      <%=new Date(orderData.date.getTime()+(7*24*60*60*1000)).toLocaleString('en-IN',{ dateStyle: 'long'})%>
                  </td>
               </tr>
               <tr>
                  <th>
                     Delivery notes
                  </th>
                  <td>
                      <%=orderData.notes%>
                  </td>
               </tr>
               <tr>
                  <th>
                      Status
                  </th>
  
                  <td>
                  
                    <%=orderData.status%>
  
                  </td>
               </tr>


               <tr>
                <th> </th>
                <th >
                        Products  
                          </th>
                        <table class="table table-bordered ">
                          <tr>
                            <th> <strong> Image </strong></th>
                            <th> <strong> Product Name </strong></th>
                            <th> <strong>  Price </strong></th>
                            <th> <strong> Quantity </strong></th>
                            <th> <strong> Total Price </strong></th>
                          </tr>

                          <tr>
                       <%   orderData.product.map((item)=>{%>
                         
                        <td style="text-align: center;">
                        <div class="image-container" style="width: 70px;height: 50px;">
                            <img src="<%=item.image%>" alt="">
                        </div>
                           
                        </td>

                <td>
                    <%=item.name%>
                </td>
                <td>
                    <%=item.price%>
                </td>
                <td>
                    <%=item.quantity%>
                </td>
                <td>
                    <%=item.total%>
                </td>
                
            </tr>
      
           
           <% })%>

           <tr>
            <th> <strong>Sub Total </strong></th>
            <td></td>
            <td></td>
            <td></td>
            <th>  <%=orderData.subTotal%></th>
           </tr>


           <tr>
            <th><strong>Coupon Applied </strong></th>
            <td></td>
            <td></td>
            <td></td>
            <th>    <%=orderData.coupon%> </th>
           </tr>



           <tr>
            <th><strong> Discount </strong></th>
            <td></td>
            <td></td>
            <td></td>
            <th>  <%=orderData.discount%> </th>
           </tr>



           <tr>
            <th><strong>Total Amount </strong></th>
            <td></td>
            <td></td>
            <td></td>
            <th>  <%=orderData.totalAmount%></th>
           </tr>




        </table>
      
            <%if(((orderData.status=="Returned")||(orderData.status=="Cancelled"))&&(orderData.paymentMethod!=='Cash on Delivery')  ){%>
            
                <div class="return-status-box  border border-rounded w-100">

                    <h5 class="text-left m-4">Refund of Rs.<%=orderData.totalAmount%> has beed added to your wallet</h5>
                </div>
                
                <div class="button-block d-flex justify-content-end">
               
            <%}else if((orderData.status=="Delivered")&& (( Date.now()- (orderData.updatedAt.getTime()) <= (7 * 24 * 60 * 60 * 1000)) )){%>
                
            <a href="#" class="btn btn-primary my-3" onclick="requestCancellation('<%=orderData._id%>')">Return Order</a>
        <%}else if ((orderData.status=="Shipped")||(orderData.status=="Confirmed")||(orderData.status=="Pending")){%>
            <a href="#" class="btn btn-primary my-3" onclick="cancelOrder('<%=orderData._id%>')">Cancel Order</a>

            <%}%>

            <a href="/download-invoice?_id=<%=orderData._id%> " class="btn btn-secondary my-3 mx-4"><i class="bi bi-download" style="font-size: 2rem;"></i>  Download Invoice</a>
    </div>
</div>


<div class="back-button " style="text-align: right"><a href="/orders" class="btn btn-warning my-3">Back</a></div>
            </div>
            
    </div>
    </div>

<script>

const returnOrder=(order_id)=>{


    new swal({

text: "Are your sure want to return this order?",
icon: "warning",
buttons: ["No", "Yes"],
dangerMode: true,
})
.then((response) => {
if (response) {
fetch(`/return-pending?_id=${order_id}`,{method:"GET",headers:{'contentType':'application/json'}})
.then(response=>{
    if(response.ok){
        new swal({title: "Order return request submitted",
  icon: "success",
  button: "OK"}).then(()=>
        { window.location.href=`/orders` }
           
    )
    }
})
}
})
}

const cancelOrder=(order_id)=>{

new swal({

text: "Are your sure want to cancel this order?",
icon: "warning",
buttons: ["No", "Yes"],
dangerMode: true,
})
.then((cancel) => {
if (cancel) {
fetch(`/cancel-order?_id=${order_id}`,{method:"GET",headers:{'contentType':'application/json'}})
.then(response=>{
    if(response.ok){
        new swal({title: "Order cancelled successfully",
  icon: "success",
  button: "OK"}).then(()=>
        { window.location.href=`/orders` }
           
    )
    }
})
}
})
}

const requestCancellation= (order_id) =>{

    swal({
  text: "Please enter the reason for order return",
  content: "input",
  button: {
    text: "Submit",
    closeModal: false,
  },
})
.then(reason => {
    
  if (!reason) throw null;
  else{
    console.log("reasn",reason);
   return fetch('/return-pending',{method:"POST",headers: {
    "Content-Type": "application/json" },
  body: JSON.stringify({_id:order_id,
    returnReason:reason})})
    .then(response=>{
        if(response.status==200){
            new swal({title: "Order cancellation request sent",
             icon: "success",
            button: "OK"}).then(()=>
        { window.location.href=`/orders` }
           
    )
        }
        else{
            new swal("Something wrong happened. Please try again later")
        }
    })
  }
  })
}


</script>









    <%-include("../layout/footer.ejs")%>


