<%-include("../layout/header.ejs")%> <%if(typeof userData != 'undefined'){%>
    <%-include("../layout/menuUser.ejs")%> <%}else{%>
    <%-include("../layout/menu.ejs")%> <%}%>




<main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <!-- <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Default</li>
                    </ol> -->

                    <!-- End .pager-nav -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            <%if(typeof errorMessage!= 'undefined'){%>

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Error:</strong> <%=errorMessage%>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
                <%}%> 


                <%if(typeof productData !='undefined'){%>
       

          
                <div class="container main-container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                       
                             
                                        <figure class="product-main-image" >
                                            <img id="product-zoom" style="height: 400px;width: 400px;" src="<%= productData.mainImage%>" data-zoom-image="<%= productData.mainImage%>" alt="product image">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->



                                        <div id="product-zoom-gallery" class="product-image-gallery" style="overflow: auto; height: 400px;" >
                                            <a class="product-gallery-item active" href="#" data-image="<%= productData.mainImage%>" data-zoom-image="<%= productData.mainImage%>" >
                                                <img src="<%= productData.mainImage%>" alt="product side" >
                                            </a>

                                        <%productData.imageUrl.map((item)=>{%>

                                           <%if(item!=productData.mainImage){%>
                                               <a class="product-gallery-item" href="#" data-image="<%= item%>" data-zoom-image="<%=item%>">
                                                    <img src="<%= item%>" alt="product cross">
                                                </a>
                                                <% }%>
    
                                       <% })%>







                                  
                                        </div>


                                        </div>
                                    </div>
                                </div>
                          

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title"><%=productData.name%></h1>

                                    <!-- <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div>
                                           
                                        </div>
                                        
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                                    </div> -->
                                    <!-- End rating-container -->

                                    <div class="product-price">
                                        ₹ <%=productData.price%>
                                    </div><!-- End .product-price -->

                                    
                                    <!-- End .details-filter-row -->

                                    
                                    <div class="details-filter-row details-row-size">
                                        <!-- <label for="qty">Qty:</label> -->
                                        <!-- <div class="product-details-quantity"> -->
                                            <!-- <input type="number" id="qty" class="form-control" value="1" min="1" max="20" step="1" data-decimals="0" required> -->
                                        </div>
                                    </div>
                                    
                                    <div class="product-details-action">
                                        <a href="/add-to-cart?_id=<%=productData._id%>" class="btn-product btn-cart"><span>add to cart</span></a>

                                        <div class="details-action-wrapper">
                                            <a href="/add-to-wishlist?_id=<%=productData._id%>" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                        </div><!-- End .details-action-wrapper -->
                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <!-- End .product-cat -->

                                        <div class="social-icons social-icons-sm">
                                            <span class="social-label">Share:</span>
                                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                        </div>
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div>


                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>
                                    <p><%=productData.description%>
                                         

                                  </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                                <div class="product-desc-content">
                                    <h3>Information</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>

                                    <h3>Fabric & care</h3>
                                    <ul>
                                        <li>Faux suede fabric</li>
                                        <li>Gold tone metal hoop handles.</li>
                                        <li>RI branding</li>
                                        <li>Snake print trim interior </li>
                                        <li>Adjustable cross body strap</li>
                                        <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                                    </ul>

                                    <h3>Size</h3>
                                    <p>one size</p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                                <div class="product-desc-content">
                                    <h3>Delivery & returns</h3>
                                    <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                    We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                                <div class="reviews">
                                    <h3>Reviews (<%=productData.review.length%>)</h3>
                                   
                                    <%   if(productData.review.length>0){ %>

                                    <% productData.review.map(item=>{ %>

                                   
                                   
                                    <div class="review my-4">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#"><%=item.reviewer%></a></h4>
                                                <!-- <div class="ratings-container"> -->
                                                    <div class="ratingsw d-flex">
                                                      <% for(let i=0;i<item.starRating;i++){ %>
                                                        <p> ⭐ </p>  
                                                            
                                                        <% }%>  
                                                        <!-- <div class="ratings-val" style="width: <%= item.starRating * 20 %>%;"></div>                                                        End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                <!-- </div>End .rating-container -->
                                                <span class="review-date"><%=item.date.toLocaleString('en-IN',{dateStyle:'long'})%></span>
                                            </div><!-- End .col -->
                                            <div class="col">
                                                <h4><%=item.title%></h4>

                                                <div class="review-content">
                                                    <p><%=item.content%></p>
                                                </div>

                                                <!-- <div class="review-action">
                                                    <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                                    <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                </div> -->
                                            </div>
                                        </div>

                                        <% }) %>

                                        <% }else{%>
                                        
                                        <p>No reviews for this product</p>
                                        
                                        <%  }%>
                                    </div>


                                 <% if((typeof userData !=='undefined')){  %>  

                                  


                                    <div class="add-review-block container border rounded border-light p-4 text-center">
                                        <form class="border" action="/add-review" method="post">
                                            <h5 class="text-center m-4">Add Review</h5>
                                            <input type="text" value="<%=productData._id%>" hidden name="id">

                                            <div class="form-group row">
                                                <label for="title" class="col-sm-2 col-form-label">Title</label>
                                                <input type="text"  id="title" name="title" >
                                          </div>

                                            <div class="form-group row">
                                              <label for="reviewContent" class="col-sm-2 col-form-label">Review</label>
                                              <textarea  id="w3review" name="review" rows="4" cols="100"></textarea>
                                        </div>
                                        
                                        <div class="form-group row ">
                                            
                                            <label for="starRating" class="col-sm-2 col-form-label">Star Rating</label>
                                                <select id="starRating" class="custom-select" style="width: 200px;height: 30px;font-size: 1.5rem;" name="starRating">
                                                    <!-- <option selected>Open this select menu</option> -->
                                                    <option value="1">⭐</option>
                                                    <option value="2">⭐⭐</option>
                                                    <option value="3">⭐⭐⭐</option>
                                                    <option value="4">⭐⭐⭐⭐</option>
                                                    <option value="5">⭐⭐⭐⭐⭐</option>   
                                                  </select>
                                               
                                              </div>
                                              <div class="submit-button-block text-center my-4">
                                                  <input type="submit" class="btn btn-primary" value="Submit">
                                              </div>

                                          </form>


                                    </div>

                                    <%   }  %>  


                                    
                                </div><!-- End .reviews -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->

                   <!-- End .owl-carousel -->
                </div>
                
                <%}%>
                
                
                <!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


<script>

//     const handleImage= (imageid)=>{
//         document.getElementById("product-zoom").src=`${imageid}`
//     }

//   const addToCartBtn = document.getElementById('addToCartBtn');
//   const qtyInput = document.getElementById('qty');

//   addToCartBtn.addEventListener('click', (event) => {
//     event.preventDefault();

//     const qty = qtyInput.value;
//     const href = addToCartBtn.getAttribute('href');

//     addToCartBtn.setAttribute('href', `${href}&quantity=${qty}`);

//     window.location.href = addToCartBtn.getAttribute('href');
//   });
</script>




<%-include("../layout/footer.ejs")%>