<%-include("../layout/header.ejs")%> <%if(typeof userData != 'undefined'){%>
    <%-include("../layout/menuUser.ejs")%> <%}else{%>
    <%-include("../layout/menu.ejs")%> <%}%>

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">My Account<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Address</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Change password</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-wallet-link" data-toggle="tab" href="#tab-wallet" role="tab" aria-controls="tab-wallet" aria-selected="false">Wallet</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="/logout">Sign Out</a>
                                </li> -->
                            </ul>
                        </aside><!-- End .col-lg-3 -->

                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                    <p>Welcome <span class="font-weight-normal text-dark"> User</span></p>
                                    <br>
                                    
                                </div><!-- .End .tab-pane -->

                                <!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
                                    <p>No downloads available yet.</p>
                                    <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">

                                  
                                    <!-- <a href="/add-address?location=/user-dashboard" class="btn btn-primary m-4">Add Address</a> -->
                                  
                                  <!-- -------------------------------Add Address---------------------------------- -->
                                  
                                  
                                  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary my-4" data-toggle="modal" data-target="#addaddressBoxModal">
    Add Address
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="addaddressBoxModal" tabindex="-1" role="dialog" aria-labelledby="addressBoxModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addressBoxModalTitle">Add address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
            <form action="/add-address?location=/user-dashboard" class="form-floating m-4" method="post">

                <div class="row g-2">
                <div class="form-floating col-md-6">
                <label for="floatingInputValue">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Enter Name"  required>
             </div>
             <div class="form-floating col-md-6">
                <label for="floatingInputValue">Mobile number</label>
                <input type="text" class="form-control" id="mobileAdd" name="mobile" placeholder="Enter Mobile number"  required oninput="mobileAddValidate()" >
              <p id="mobileAddError" style="color: red;"></p>
              </div>
            </div>
        
            <div class="row">
                
                <div class="form-floating col-md-12">
                   <label for="floatingInputValue">Address</label>
                   <input type="text" class="form-control" name="address" placeholder="Enter Address"  required>
                </div>
                </div>
        
             <div class="row g-2">
                <div class="form-floating col-md-6">
                <label for="floatingInputValue">Pincode</label>
                <input type="text" class="form-control" id="pincodeAdd" name="pincode" placeholder="Enter Pincode" required oninput="pincodeAddValidate()" >
                <p id="pincodeAddError" style="color: red;"></p>
              </div>
             <div class="form-floating col-md-6">
                <label for="floatingInputValue">City</label>
                <input type="text" class="form-control" name="city" placeholder="Enter City"  required>
             </div>
             </div>
        
             <div class="row g-2">
             <div class="form-floating col-md-6">
             <label for="floatingInputValue">State</label>
             <input type="text" class="form-control" name="state" placeholder="Enter State"  required>
          </div>
          <div class="form-floating col-md-6">
             <label for="floatingInputValue">Landmark</label>
             <input type="text" class="form-control" name="landmark" placeholder="Enter Landmark"  >
          </div>
          </div>

         
        </div>
        <div class="modal-footer">
            <input type="submit" id="addButton" value="Add" class="btn btn-primary">
          <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
        </div>
      </div>
    </div>
  </div>
                                  
                                  
                                  <!-- -------------------------------End Add Address---------------------------------- -->
                                  
                                  
                                  
                                    <div class="row">
                                        
                                              <%  userData.address.map((item,index)=>{%>
                                               
                                                <div class="col-lg-6">
                                                    <div class="card card-dashboard">
                                                <div class="card-body m-4">

                                                    <p>Name : <%=item.name%> </p>
                                                    <p>mobile : <%=item.mobile%></p>
                                                    <p>address : <%=item.address%></p>
                                                    <p>city : <%=item.city%></p>
                                                    <p>state : <%=item.state%></p>
                                                    <p>pin : <%=item.pincode%></p>
                                                    <!-- <a href="#">Edit <i class="icon-edit"></i></a></p> -->
                                              



<!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editaddressBoxModal">
    Edit
  </button>

  <button type="button" class="btn btn-danger mx-4" onclick="deleteAddress('<%=item._id%>')" >
    Delete
  </button>



  
  <!-- Modal -->
  <div class="modal fade" id="editaddressBoxModal" tabindex="-1" role="dialog" aria-labelledby="addressBoxModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addressBoxModalTitle">Edit address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
            <form action="/update-address" class="form-floating m-4" method="post">

                <input type="text" name="index" value="<%=index%>" hidden>
                <div class="row g-2">
                <div class="form-floating col-md-6">
                <label for="floatingInputValue">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Enter Name" value="<%=item.name%>" required>
             </div>
             <div class="form-floating col-md-6">
                <label for="floatingInputValue">Mobile number</label>
                <input type="text" class="form-control" id="mobileUpdate" name="mobile"  value="<%=item.mobile%>" placeholder="Enter Mobile number" required oninput="mobileUpdateValidate()">
                <p id="mobileUpdateError" style="color: red;"></p>       
                    </div>
            </div>
        
            <div class="row">
                
                <div class="form-floating col-md-12">
                   <label for="floatingInputValue">Address</label>	out of stock
                   <input type="text" class="form-control" name="address" placeholder="Enter Address" value="<%=item.address%>" required>
                </div>
                </div>
        
             <div class="row g-2">
                <div class="form-floating col-md-6">
                <label for="floatingInputValue">Pincode</label>
                <input type="text" class="form-control" id="pincodeUpdate" name="pincode" placeholder="Enter Pincode" value="<%=item.pincode%>" required oninput="pincodeUpdateValidate()">
                <p id="pincodeUpdateError" style="color: red;"></p>           
                </div>
             <div class="form-floating col-md-6">
                <label for="floatingInputValue">City</label>
                <input type="text" class="form-control" name="city" placeholder="Enter City" value="<%=item.city%>" required>
             </div>
             </div>
        
             <div class="row g-2">
             <div class="form-floating col-md-6">
             <label for="floatingInputValue">State</label>
             <input type="text" class="form-control" name="state" placeholder="Enter State" value="<%=item.state%>" required>
          </div>
          <div class="form-floating col-md-6">
             <label for="floatingInputValue">Landmark</label>
             <input type="text" class="form-control" name="landmark" placeholder="Enter Landmark" value="<%=item.landmark%>" >
          </div>
          </div>

         
        </div>
        <div class="modal-footer">
            <input type="submit" id="updateButton" value="Save" class="btn btn-primary">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
        </div>
      </div>
    </div>
  </div>



</div>
</div><!-- End .card-dashboard -->
</div>




<!--------------------------------End  Modal-------------------------------------- -->
              <% })%>
                                          
                                                <!-- End .card-body -->
                                          <!-- End .col-lg-6 -->

                                    </div><!-- End .row -->
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>First Name *</label>
                                                <input type="text" class="form-control" required>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Last Name *</label>
                                                <input type="text" class="form-control" required>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <label>Display Name *</label>
                                        <input type="text" class="form-control" required>
                                        <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

                                        <label>Email address *</label>
                                        <input type="email" class="form-control" required>

                                        <label>Current password (leave blank to leave unchanged)</label>
                                        <input type="password" class="form-control">

                                        <label>New password (leave blank to leave unchanged)</label>
                                        <input type="password" class="form-control">

                                        <label>Confirm new password</label>
                                        <input type="password" class="form-control mb-2">

                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SAVE CHANGES</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </form>
                                </div>
                                
                                

                                <div class="tab-pane fade" id="tab-wallet" role="tabpanel" aria-labelledby="tab-account-link">
                                  


                              <div class="wallet-balance-block border border-primary rounded-pill text-center">

                                <h4 class="m-4">Wallet balance: ₹<%=userData.wallet.balance%></h4>


                              </div>


                         <table class=" table table-hover my-4">


                          <thead>
                            <tr>
                              <th scope="col">Date</th>
                              <th scope="col">Details</th>
                              <th scope="col">Amount</th>
                            </tr>
                          </thead>

                          <tbody>

                   <% userData.wallet.transaction.slice().reverse().map(item=>{ %>
                      <tr>
                        <td><%=item.date.toLocaleString("en-IN",{dateStyle:'long',timeStyle:'short'})%></td>
                        <td><%=item.details%></td>
                        <%if(item.details.includes("Refund")){   %>
                        <td class="text-success">+<%=item.amount%></td>
                        <%  }else{  %>
                        <td class="text-danger">-<%=item.amount%></td>
                        <%   }  %>
                      </tr>

                   <% }) %>    
                          


                         </table>

                              </div>




                                <!-- .End .tab-pane -->
                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main>

<script>



const deleteAddress=(id)=>{
      new swal({
  title: "Are you sure to delete this address?",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    window.location.href = `/delete-address?id=${id}`;    }});
  } 


  // -------------------------- Start Validation----------------
  let isMobileValidate=true;
let isPincodeValidate=true;
const addButton= document.getElementById("addButton")


  const mobileAddValidate = ()=>{

     let mobile= document.getElementById("mobileAdd").value;
     const mobileRegex = /^\d{10}$/;
     if(!mobile.match(mobileRegex)){
      isMobileValidate=false;
      document.getElementById("mobileAddError").innerText="Enter a valid mobile number"
      addButton.disabled=true
   }
   else{
    document.getElementById("mobileAddError").innerText=""
    isMobileValidate=true;
    if(isMobileValidate&&isPincodeValidate){
      addButton.disabled=false;
    }
     }
   }

   const pincodeAddValidate =()=>{
      let pincode= document.getElementById("pincodeAdd").value;
      const pinRegex =/^\d{6}$/;
     if(!pincode.match(pinRegex)){
      isPincodeValidate=false;

      document.getElementById("pincodeAddError").innerText="Enter a valid pin code";
      addButton.disabled=true;
   }
   else{
    isPincodeValidate=true;
        document.getElementById("pincodeAddError").innerText=""
        if(isMobileValidate&&isPincodeValidate){
      addButton.disabled=false;
    }
     }
   }

// ---------------------- Update validation---------------

let isMobileUpdateValidate=true;
let isPincodeUpdateValidate=true;
const updateButton = document.getElementById("updateButton");

const mobileUpdateValidate = ()=>{

let mobile= document.getElementById("mobileUpdate").value;
const mobileRegex = /^\d{10}$/;
if(!mobile.match(mobileRegex)){
  isMobileUpdateValidate=false;
 document.getElementById("mobileUpdateError").innerText="Enter a valid mobile number"
 updateButton.disabled=true
}
else{
document.getElementById("mobileUpdateError").innerText=""
isMobileUpdateValidate=true;
if(isMobileUpdateValidate&&isPincodeUpdateValidate){
  updateButton.disabled=false;
}
}
}

const pincodeUpdateValidate =()=>{
 let pincode= document.getElementById("pincodeUpdate").value;
 const pinRegex =/^\d{6}$/;
if(!pincode.match(pinRegex)){
  isPincodeUpdateValidate=false;

 document.getElementById("pincodeUpdateError").innerText="Enter a valid pin code";
 updateButton.disabled=true;
}
else{
  isPincodeUpdateValidate=true;
   document.getElementById("pincodeUpdateError").innerText=""
   if(isMobileUpdateValidate&&isPincodeUpdateValidate){
    updateButton.disabled=false;
}
}
}

     // -------------------------- End  Validation----------------



</script>





    <%-include("../layout/footer.ejs")%>


